<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    {% if page == 'login' %}
    <div>
        <form action="" method="POST">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"> 
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Username"> 
        
        <input type="submit" value="Login"> 
        </form>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>
    {% else %}
    <div>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"> 
        </form>
        <p>Already signed up yet?</p>
        <a href="{% url 'login' %}">Log in</a>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>